<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jacolp.mapper.AudioTaskMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO audio_tasks (user_id, source_text, speed, noise_type, noise_factor, status)
        VALUES (#{userId}, #{sourceText}, #{speed}, #{noiseType}, #{noiseFactor}, #{status})
    </insert>

    <select id="selectById" resultType="com.jacolp.pojo.entity.AudioTaskEntity">
        SELECT * FROM audio_tasks WHERE id = #{id}
    </select>

    <select id="selectByUserId" resultType="com.jacolp.pojo.entity.AudioTaskEntity">
        SELECT * FROM audio_tasks WHERE user_id = #{userId} ORDER BY create_time DESC
    </select>

    <update id="casUpdateStatus">
        UPDATE audio_tasks
        SET status = #{newStatus}
        <if test="resultUrl != null">, result_url = #{resultUrl}</if>
        <if test="errorMsg != null">, error_msg = #{errorMsg}</if>
        <if test="completedDate != null">, completed_date = #{completedDate}</if>
        WHERE id = #{id} AND status = #{expectedStatus}
    </update>

    <select id="selectPendingTimeout" resultType="com.jacolp.pojo.entity.AudioTaskEntity">
        SELECT * FROM audio_tasks
        WHERE status = 0 AND create_time &lt; #{before}
    </select>

</mapper>
