<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jacolp.mapper.ImageDeleteDeadLetterMapper">

    <insert id="insertBatch">
        insert into biz_image_delete_dead_letter (image_url) values
        <foreach item="item" index="index" collection="list" separator=",">
            (#{item.imageUrl})
        </foreach>
    </insert>

    <update id="updateBatch">
        update biz_image_delete_dead_letter
        set
            status = #{status},
            retry_count = retry_count + 1,
            update_time = now()
        where id in
        <foreach item="id" index="index" collection="ids" separator="," open="(" close=")">
            #{id}
        </foreach>
    </update>
</mapper>
