<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jacolp.mapper.UserMapper">
        <insert id="upsertCreator" parameterType="com.jacolp.pojo.entity.UserEntity">
                INSERT INTO sys_user (id, username, password, role_id, status, create_time, update_time)
                VALUES (#{id}, #{username}, #{password}, #{roleId}, #{status}, now(), now())
                ON DUPLICATE KEY UPDATE
                username = #{username},
                password = #{password},
                role_id = #{roleId},
                status = #{status},
                update_time = now()
        </insert>

    <insert id="insertUser" parameterType="com.jacolp.pojo.entity.UserEntity" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO sys_user (username, password, role_id, status, create_time, update_time)
        VALUES (#{username}, #{password}, #{roleId}, #{status}, now(), now())
    </insert>

    <update id="updateById" parameterType="com.jacolp.pojo.entity.UserEntity">
                UPDATE sys_user
                <set>
                    <if test="username != null and username != ''">
                        username = #{username},
                    </if>
                    <if test="password != null and password != ''">
                        password = #{password},
                    </if>
                    <if test="nickname != null and nickname != ''">
                        nickname = #{nickname},
                    </if>
                    <if test="email != null and email != ''">
                        email = #{email},
                    </if>
                    <if test="roleId != null">
                        role_id = #{roleId},
                    </if>
                    <if test="status != null">
                        status = #{status},
                    </if>
                    <if test="maxStorageBytes != null">
                        max_storage_bytes = #{maxStorageBytes},
                    </if>
                    <if test="usedStorageBytes != null">
                        used_storage_bytes = #{usedStorageBytes},
                    </if>
                        update_time = now()
                </set>
                WHERE id = #{id}
        </update>

    <select id="listByCondition" resultType="com.jacolp.pojo.entity.UserEntity" parameterType="com.jacolp.pojo.dto.user.UserListDTO">
                SELECT
                    id,
                    username,
                    nickname,
                    email,
                    role_id,
                    max_storage_bytes,
                    used_storage_bytes,
                    status,
                    create_time,
                    update_time
                FROM sys_user
                <where>
                    <if test="id != null">
                        id = #{id}
                    </if>
                    <if test="username != null and username != ''">
                        AND username LIKE CONCAT('%', #{username}, '%')
                    </if>
                    <if test="status != null">
                        AND status = #{status}
                    </if>
                    <if test="roleId != null">
                        AND role_id = #{roleId}
                    </if>
                </where>
                ORDER BY id DESC
            </select>

    <delete id="deleteByIds">
        DELETE FROM sys_user
        WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectByIds" resultType="com.jacolp.pojo.entity.UserEntity">
        SELECT id, username, nickname, email, role_id, status, create_time, update_time
        FROM sys_user
        WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <insert id="upsertUser">
        insert into sys_user (id, username, nickname, email, role_id, max_storage_bytes,
                              used_storage_bytes, status, create_time, update_time)
        values
        <foreach collection="users" item="user" separator=",">
            (#{user.id}, #{user.username}, #{user.nickname}, #{user.email}, #{user.roleId}, #{user.maxStorageBytes},
            #{user.usedStorageBytes}, #{user.status}, now(), now())
        </foreach>
        on duplicate key update
        username = values(username),
        nickname = values(nickname),
        email = values(email),
        role_id = values(role_id),
        max_storage_bytes = values(max_storage_bytes),
        used_storage_bytes = values(used_storage_bytes),
        status = values(status),
        update_time = now()
    </insert>
</mapper>
