<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jacolp.mapper.UserMapper">
        <insert id="insertCreator" parameterType="com.jacolp.pojo.entity.UserEntity">
                INSERT INTO sys_user (id, username, password, role_id, status, create_time, update_time)
                VALUES (#{id}, #{username}, #{password}, #{roleId}, #{status}, now(), now())
        </insert>

    <insert id="insertUser" parameterType="com.jacolp.pojo.entity.UserEntity" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO sys_user (username, password, role_id, status, create_time, update_time)
        VALUES (#{username}, #{password}, #{roleId}, #{status}, now(), now())
    </insert>

        <update id="updateById" parameterType="com.jacolp.pojo.entity.UserEntity">
                UPDATE sys_user
                <set>
                    <if test="username != null">
                        username = #{username},
                    </if>
                    <if test="password != null">
                        password = #{password},
                    </if>
                    <if test="roleId != null">
                        role_id = #{roleId},
                    </if>
                    <if test="status != null">
                        status = #{status},
                    </if>
                        update_time = now()
                </set>
                WHERE id = #{id}
        </update>

            <select id="listByCondition" resultType="com.jacolp.pojo.entity.UserEntity" parameterType="com.jacolp.pojo.dto.UserListDTO">
                SELECT id, username, nickname, email, role_id, status, create_time, update_time
                FROM sys_user
                <where>
                    <if test="id != null">
                        id = #{id}
                    </if>
                    <if test="username != null and username != ''">
                        AND username LIKE CONCAT('%', #{username}, '%')
                    </if>
                    <if test="status != null">
                        AND status = #{status}
                    </if>
                    <if test="roleId != null">
                        AND role_id = #{roleId}
                    </if>
                </where>
                ORDER BY id DESC
            </select>
</mapper>